@import url(https://fonts.googleapis.com/css?family=Droid+Serif:400,700);
@import url(https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz);
@import url(https://fonts.googleapis.com/css?family=Ubuntu+Mono:400,700,400italic);
@import url(https://fonts.googleapis.com/css?family=Uncial+Antiqua&display=swap);

body {
  font-family: 'Droid Serif';
}
h1, h2, h3 {
  font-family: 'Yanone Kaffeesatz';
  font-weight: 400;
  margin-bottom: 0;
}
.remark-slide-content {
  font-size: 25px;
}
.remark-slide-content h1 { font-size: 3em; }
.remark-slide-content h2 { font-size: 2em; }
.remark-slide-content h3 { font-size: 1.6em; }
.footnote {
  position: absolute;
  bottom: 3em;
}
li p { line-height: 1.25em; }
.red { color: #fa0000; }
.large { font-size: 2em; }
a, a > code {
  color: rgb(249, 38, 114);
  text-decoration: none;
}
code {
  background: #e7e8e2;
  border-radius: 5px;
}
.remark-code, .remark-inline-code { font-family: 'Ubuntu Mono'; }
.remark-code-line-highlighted     { background-color: #373832; }
.pull-left {
  float: left;
  width: 47%;
}
.pull-right {
  float: right;
  width: 47%;
}
.pull-right ~ p {
  clear: both;
}
#slideshow .slide .content code {
  font-size: 0.8em;
}
#slideshow .slide .content pre code {
  font-size: 0.9em;
  padding: 15px;
}
.inverse {
  background: #272822;
  color: #777872;
  text-shadow: 0 0 20px #333;
}
.inverse h1, .inverse h2 {
  color: #f3f3f3;
  line-height: 0.8em;
}
.center.middle ol, .center.middle ul {
  margin-left: 0;
  padding-left: 0;
  list-style-type: none;
}

/* Slide-specific styling */
#slide-inverse .footnote {
  bottom: 12px;
  left: 20px;
}
#slide-how .slides {
  font-size: 0.9em;
  position: absolute;
  top:  151px;
  right: 140px;
}
#slide-how .slides h3 {
  margin-top: 0.2em;
}
#slide-how .slides .first, #slide-how .slides .second {
  padding: 1px 20px;
  height: 90px;
  width: 120px;
  -moz-box-shadow: 0 0 10px #777;
  -webkit-box-shadow: 0 0 10px #777;
  box-shadow: 0 0 10px #777;
}
#slide-how .slides .first {
  background: #fff;
  position: absolute;
  top: 20%;
  left: 20%;
  z-index: 1;
}
#slide-how .slides .second {
  position: relative;
  background: #fff;
  z-index: 0;
}

/* Two-column layout */
.left-column {
  color: #777;
  width: 20%;
  height: 92%;
  float: left;
}
  .left-column h2:last-of-type, .left-column h3:last-child {
    color: #000;
  }
.right-column {
  width: 75%;
  float: right;
  padding-top: 1em;
}

.agenda ol, .agenda ul {
  margin-top: 3em;
}
.agenda ol li, .agenda ul li {
  margin-top: 1em;
}

.sources {
  font-size: 0.6em;
}

.speaker .sources ul {
  list-style-type: none;
  margin-left: 0;
  margin-right: 0;
  padding-left: 0;
  padding-right: 0;
}

.speaker .sources ul li {
  margin-top: 0.4em;
}

.speaker img {
  width: 95%;
}

.center {
  text-align: center;
}
.center-headers h1, .center-headers h2, .center-headers h3, .center-headers h4, .center-headers h5, .center-headers h6 {
  text-align: center;
}

.clear {
  clear: both;
}

.muted {
  color: #777777;
}

.remark-slide-content.hidden-header h1:first-child,
.remark-slide-content.hidden-header h2:first-child,
.remark-slide-content.hidden-header h3:first-child {
  display: none;
}

.smaller {
  font-size: 0.9em;
}

.copyright {
  color: #c0c0c0;
  font-size: 0.5em;
}

.half-column {
  float: left;
  width: 48%;
  padding: 1%;
}

.third-column {
  float: left;
  width: 31.3%;
  padding: 1%;
}

.lang-makeup img {
  margin-top: 0.4em;
  width: 100%;
}

.erlang-goals {
  font-family: 'Uncial Antiqua', 'Yanone Kaffeesatz';
  font-size: 2em;
}

.erlang-goals.large {
  font-size: 3em;
}

.erlang-goals ul li {
  margin-top: 0.4em;
}

.elixir-goals ul li {
  margin-top: 1em;
  font-size: 1.4em;
}

.erlang-process {
  display: block;
  margin: 0 auto;
  height: 6em;
  width: 6em;
  line-height: 6em;

  -moz-border-radius: 6em; /* or 50% */
  border-radius: 6em; /* or 50% */

  background-color: black;
  color: white;
  text-align: center;
}

.toolset {
  margin-top: 1em;
}
.toolset td, .toolset th {
  padding-top: 0.4em;
  padding-right: 1em;
}

.software-fault-types {
  margin-top: 1em;
  width: 100%;
  border-collapse: collapse;
}
.software-fault-types tr:first-child th, .software-fault-types tr:first-child td {
  border-top: 0;
}
.software-fault-types th:first-child, .software-fault-types td:first-child {
  border-left: 0;
}
.software-fault-types th, .software-fault-types td {
  width: 33.3%;
  text-align: left;
  border: 1px solid #c0c0c0;
  padding: 0.4em;
}
.software-fault-types .highlight {
  color: #008b00;
}

.supervision-strategies {
  margin-top: 1em;
}
.supervision-strategies p {
  margin-top: 0;
  margin-bottom: 0;
}

.remark-notes {
  font-size: 2em;
}